<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoring Service</title>
</head>

<body>
    <h1>Tutor</h1>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Nama Layanan</th>
            <th>Deskripsi</th>
            <th>price</th>
            <th>category</th>
            <th>user</th>
        </tr>
        <% data.forEach(el, i=> { %>
            <tr>
                <td>
                    <%= i+ 1 %>
                </td>
                <td>
                    <%= el.name %>
                </td>
                <td>
                    <%= el.description %>
                </td>
                <td>
                    <%= el.price %>
                </td>
                <td>
                    <%= el. %>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>