<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('partials/head', { title: service ? 'Edit Service' : 'Add Service' }) %>
</head>

<body>

    <%- include('partials/nav', { user }) %>

    <div class="container">

        <div class="page-head" style="margin-top:32px;">

            <div>

                <div class="hero-eyebrow">
                    Tutor Service
                </div>

                <h1>
                    <%= service ? 'Edit Tutoring Service' : 'Create Tutoring Service' %>
                </h1>

            </div>

        </div>


        <div class="card">

            <form
                action="<%= service ? '/tutor/services/edit/' + service.id : '/tutor/services/add' %>"
                method="post"
            >

                <label>
                    Service Name
                </label>

                <input
                    type="text"
                    name="name"
                    value="<%= service ? service.name : '' %>"
                    required
                >


                <label>
                    Description
                </label>

                <textarea
                    name="description"
                    rows="5"
                    required
                ><%= service ? service.description : '' %></textarea>


                <label>
                    Price
                </label>

                <input
                    type="number"
                    name="price"
                    value="<%= service ? service.price : '' %>"
                    min="0"
                    required
                >


                <label>
                    Image URL
                </label>

                <input
                    type="text"
                    name="imageUrl"
                    value="<%= service ? service.imageUrl : '' %>"
                >


                <label>
                    Category
                </label>

                <select
                    name="CategoryId"
                    required
                >

                    <option value="">
                        Choose Category
                    </option>

                    <% categories.forEach(category => { %>

                        <option
                            value="<%= category.id %>"
                            <%= service && service.CategoryId == category.id ? 'selected' : '' %>
                        >
                            <%= category.name %>
                        </option>

                    <% }) %>

                </select>


                <div style="margin-top:20px;">

                    <button
                        class="btn"
                        type="submit"
                    >
                        <%= service ? 'Update Service' : 'Create Service' %>
                    </button>

                    <a
                        class="btn btn-outline"
                        href="/tutor"
                    >
                        Cancel
                    </a>

                </div>

            </form>

        </div>

    </div>

</body>
</html>